<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Cadastro Concluído</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon" href="/static/images/icone.png">
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
<body>
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <img src="/static/images/logo.png" height="230px" alt="Logo do Projeto">
                        <h1><strong>Cadastro concluído!</strong></h1>
                        <div class="description">
                            <a href="/">Clique aqui para fazer login.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>